apiVersion: v1
kind: Secret
metadata:
  name: "repo-{{ item.url | hash('md5') | truncate(15, True, '') }}"
  namespace: "{{ argocd_namespace }}"
  labels:
{% if item.url.endswith('.git') %}
    argocd.argoproj.io/secret-type: repository
{% else %}
    argocd.argoproj.io/secret-type: repo-creds
{% endif %}
type: Opaque
stringData:
  type: git
  url: "{{ item.url }}"
  username: "{{ item.username | default('git') }}"
  password: "{{ item.password }}"
