apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    metrics:
      prometheus:
        enabled: true
        addEntryPointsLabels: true
        addServicesLabels: true
    providers:
      kubernetesIngress:
        publishedService:
          enabled: false
    additionalArguments:
      - "--providers.kubernetesingress.ingressendpoint.ip={{ k3s_vip_ip }}"
